<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid bg-black">
      <a class="navbar-brand text-light" [routerLink]="['index']">INICIO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item fs-3">
            <a class="nav-link active text-light" aria-current="page" [routerLink]="['page1']"><i >Productos</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light fs-3" [routerLink]="['pagea']"><i>Divisas</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light fs-3" [routerLink]="['pageb']"><i >Tickets</i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
