
<div class="container-fluid text-center">
    <a class="btn btn-danger" [routerLink]="['/page1Form']">Agregar</a>
</div>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let e of productos; let i = index" [class.active]="i === 0">
            <div class="d-flex justify-content-center">
                <div class="card mx-auto" style="width: 18rem;">
                    <img [src]="e.imagen" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{e.nombre}}</h5>
                        <p class="card-text">{{e.descripcion}}</p>
                        <a href="#" class="btn btn-primary">{{e.precio}}</a>
                        <a href="#" class="btn btn-primary">{{e.stock}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>