<div class="container">
    <form class="form-control">
        <label for="origenid" class="form-label text-light">Moneda de Origen</label>
        <input type="text" class="form-control" id="origenid" name="monedaOrigen" [(ngModel)]="origen" aria-describedby="nombreHelp">
        <label for="destinoid" class="form-label text-light">Moneda de Destino</label>
        <input type="text" class="form-control" id="destinoid" name="monedaDestino" [(ngModel)]="destino" aria-describedby="nombreHelp">

        <button class="btn btn-danger" (click)="obtenerTransacciones()">Obtener todas las transacciones</button>
        <button class="btn btn-warning" (click)="obtenerTransaccionesPorParametros()">Obtener transacciones a traves de parametros</button>
        <a class="btn btn-success" [routerLink]="['/pagea']">Ingresar nueva transaccion</a>
    </form>
    </div>
  
  <div class="table-responsive d-flex justify-content-center">
  <table class="table table-striped table table-bordered border-dark text-center">
    <thead class="table-warning">
      <tr>
        <th scope="col">EMAIL</th>
        <th scope="col">MONEDA ORIGEN</th>
        <th scope="col">CANTIDAD ORIGEN</th>
        <th scope="col">MONEDA DESTINO</th>
        <th scope="col">CANTIDAD DESTINO</th>
        <th scope="col">TASA DE CONVERSION</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let datos of transacciones">
        <td>{{datos.emailCliente}}</td>
        <td>{{datos.monedaOrigen}}</td>
        <td>{{datos.cantidadOrigen  | currency}}</td>
        <td>{{datos.monedaDestino}} </td>
        <td>{{datos.cantidadDestino  | currency}}</td>
        <td>{{datos.tasaConversion}}</td>
      </tr>
    </tbody>
  </table>
  </div>
